# For Earthly workaround
export EARTHLY_DISABLE_REMOTE_REGISTRY_PROXY=true
# For OWASP
export OWASP_NVD_API_KEY='917129e0-1a14-45c7-976e-e4991f16781a'
# To make Maven happier
export JAVA_HOME="$(jenv javahome)"
